DATABASE_URL=postgresql+psycopg://superdados:superdados@localhost:5432/superdados
HASH_SALT=troque-este-salt-em-producao
APP_ENV=local
LIMESURVEY_BASE_URL=https://ueldjudah.limesurvey.net
PUBLIC_INVITE_EXPIRES_HOURS=72
PUBLIC_COOKIE_SECURE=false
